#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {

    behaviors {  
        // layer switching
        //
        // @exammple:
        // 
        // bindings = <  
        //     &l_s 4 0  // hold tolayer 4 tap to layer 0
        // >;  
        l_s: layer_switch {  
            compatible = "zmk,behavior-hold-tap";  
            #binding-cells = <2>;  
            flavor = "hold-preferred";  
            tapping-term-ms = <200>;  
            bindings = <&mo>, <&to>;  
        };  

        // switch layer to the default when ESC tapped twice
        td_0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&to 0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_capslock {  
            timeout-ms = <50>;  
            key-positions = <13 16>;  // LCTRL & RCTRL
            bindings = <&kp CAPSLOCK>;  
        };

        // use Karabinar-Elements to define the `Fn` key with `BLOBE` instead of defining F1-F12 here

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <42 43>; // (&l_s 4 0) + ( &mo 3)
            layers = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

// default layer
//
// Adopted `Home Row Mods`
//  - GASC ( ⌘ ⌥ ⇧ ^  ) / CSAG ( ^ ⇧ ⌥ ⌘ )
//
// combo:
//  - CAPSLOCK: LCTRL + RCTRL
//  - BT_CLR:   (&l_s 4 0) + ( &mo 3)
//
//    -----------------------------------------------------------------------------------------------------------------------------
//  0 | Q      | W      | E       | R       | T     |                  | Y     | U       | I       |  O               | P          |  9
// 10 | A LGUI | S LALT | D LSHFT | F LCTRL | G     |                  | H     | J RCTRL | K RSHFT | L RALT           | ; RGUI     | 19
// 20 | Z      | X      | C       | V       | B     |       |   |      | N     | M       | ,       |  .               | /          | 31
// 32 | ESC    | TAB    |         |         | LOWER | SPACE |   | RET  | RAISE |         |         | LAYER SWITCH 4 0 | &mo mouse  | 43
        default_layer { // layer_0
            bindings = <
&kp Q       &kp W       &kp E         &kp R         &kp T                        &kp Y   &kp U         &kp I          &kp O       &kp P
&mt LGUI A  &mt LALT S  &mt LSHFT D   &mt LCTRL F   &kp G                        &kp H   &mt RCTRL J   &mt RSHFT K    &mt RALT L  &mt SEMI RGUI
&kp Z       &kp X       &kp C         &kp V         &kp B   &trans      &trans   &kp N   &kp M         &kp COMMA      &kp DOT     &kp SLASH
&td_0       &kp TAB     &trans        &trans        &lt 2   &kp SPACE   &kp RET  &lt 1   &trans        &trans         &l_s 4 0    &mo 3
            >;
        };

// raise layer
// --------------------------------------------------------------------------------------------------------
// | `    |      |       |       |       |                 |       |   | [ | ]                | \         |
// | LGUI | LALT | LSHFT | LCTRL |       |                 |       |   | - | =                | ; '       |
// |      |      |       |       |       |       |   |     |       |   | , | .                | /         |
// | ESC  | TAB  |       |       | LOWER | SPACE |   | RET | RAISE |   |   | LAYER SWITCH 4 0 | &mo mouse |
        raise_layer { // layer_1
            bindings = <
&kp GRAVE   &trans      &trans        &trans        &trans                       &trans   &trans        &kp LBKT      &kp RBKT    &kp BACKSLASH
&kp LGUI    &kp LALT    &kp LSHFT     &kp LCTRL     &trans                       &trans   &trans        &kp MINUS     &kp EQUAL   &mt SEMI SINGLE_QUOTE
&trans      &trans      &trans        &trans        &trans  &trans      &trans   &trans   &trans        &kp COMMA     &kp DOT     &kp SLASH
&td_0       &kp TAB     &trans        &trans        &lt 2   &kp SPACE   &kp RET  &lt 1    &trans        &trans        &l_s 4 0    &mo 3
            >;
        };

// lower layer
//
// symbols:
//    - !@#$%^&*(): `shift` + `Nx`
//
// combo:
//  - F keys: `Globe` + `Nx`
//    - we might change the `Globe` key to `fn` key with `Karabiner-Elements` because ZMK can not sololy set it as the `Fn` key.
//
// -----------------------------------------------------------------------------------------------------------------
// | 1     | 2     | 3     | 4     | 5     |                 | 6     | 7    | 8  | 9                   | 0         |
// | LGUI  | LALT  | LSHFT | LCTRL |       |                 | <-    | ↓    | ↑  | ->                  | ; '       |
// |       |       |       |       |       |       |   |     |       |      | ,  | .                   | /         |
// | Globe | TAB   |       |       | LOWER | SPACE |   | RET | RAISE |      |    | &mt (&to 4) (&to 0) | &mo mouse |
        lower_layer { // layer_2
            bindings = <
&kp N1      &kp N2      &kp N3        &kp N4        &kp N5                       &kp N6   &kp N7        &kp N8        &kp N9      &kp N0
&kp LGUI    &kp LALT    &kp LSHFT     &kp LCTRL     &trans                       &kp LEFT &kp DOWN      &kp UP        &kp RIGHT   &mt SEMI SINGLE_QUOTE
&trans      &trans      &trans        &trans        &trans  &trans      &trans   &trans   &trans        &kp COMMA     &kp DOT     &kp SLASH
&kp GLOBE   &kp TAB     &trans        &trans        &lt 2   &kp SPACE   &kp RET  &lt 1    &trans        &trans        &l_s 4 0    &mo 3
            >;
        };

// mouse / media control layer
//
// --------------------------------------------------------------------------------------------------------------------------------------
// | C_BRI_DEC | C_BRIGHTNESS_INC |       |       |       |                 |       |      | C_VOL_DN | C_MUTE              | C_VOL_UP  |
// | LGUI      | LALT             | LSHFT | LCTRL |       |                 |       | LCLK | RCLK     | RALT                | RGUI      |
// |           |                  |       |       |       |       |   |     |       |      |          |                     |           |
// | ESC       | TAB              |       |       | LOWER | SPACE |   | RET | RAISE |      |          | &mt (&to 4) (&to 0) | &mo mouse |
        mm_layer { // layer_3
            bindings = <
&kp C_BRI_DEC   &kp C_BRIGHTNESS_INC    &trans        &trans        &trans                       &trans   &trans      &kp C_VOL_DN    &kp C_MUTE  &kp C_VOL_UP
&kp LGUI        &kp LALT                &kp LSHFT     &kp LCTRL     &trans                       &trans   &kp LCLK    &kp RCLK        &kp RALT    &kp RGUI
&trans          &trans                  &trans        &trans        &trans  &trans      &trans   &trans   &trans      &trans          &trans      &trans
&td_0           &kp TAB                 &trans        &trans        &lt 2   &kp SPACE   &kp RET  &lt 1   &trans       &trans          &l_s 4 0    &mo 3
            >;
        };

// bluetooth control layer
//
// ------------------------------------------------------------------------------------------------------------------------------
// | BT_SEL 0 | BT_SEL 1 | BT_SEL 2   | BT_SEL 3 | BT_SEL 4 |                 |       |   |   |                     |           |
// |          |          |            |          |          |                 |       |   |   |                     |           |
// |          |          |            |          |          |       |   |     |       |   |   |                     |           |
// |  ESC     |  TAB     |            |          |  LOWER   | SPACE |   | RET | RAISE |   |   | &mt (&to 4) (&to 0) | &mo mouse |
        bt_layer { // layer_4
            bindings = <
&kp BT_SEL 0    &kp BT_SEL 1    &kp BT_SEL 2    &kp BT_SEL 3    &kp BT_SEL 4                         &trans   &trans    &trans   &trans     &trans 
&trans          &trans          &trans          &trans          &trans                               &trans   &trans    &trans   &trans     &trans
&trans          &trans          &trans          &trans          &trans          &trans      &trans   &trans   &trans    &trans   &trans     &trans
&td_0           &kp TAB         &trans          &trans          &lt 2           &kp SPACE   &kp RET  &lt 1    &trans    &trans   &l_s 4 0   &mo 3
            >;
        };
    };
};
