name: Build torabo-tsuki-lp
  
on: [push, pull_request, workflow_dispatch]
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    container: zmkfirmware/zmk-build-arm:3.5  
      
    steps:  
    - name: Checkout  
      uses: actions/checkout@v4  
        
    - name: Cache west modules  
      uses: actions/cache@v4  
      with:  
        path: |  
          .west/modules  
          bootloader  
          modules/lib  
          zephyr  
        key: ${{ runner.os }}-build-${{ hashFiles('**/west.yml') }}  
        restore-keys: |  
          ${{ runner.os }}-build-  
            
    - name: Initialize West (Cached)  
      if: hashFiles('west/.west-lock') != ''  
      run: west init -l config  
        
    - name: Initialize West (Fresh)  
      if: hashFiles('west/.west-lock') == ''  
      run: |  
        west init -l config  
        west update  
          
    - name: Setup Zephyr SDK 0.16.0  
      run: |  
        wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.0/zephyr-sdk-0.16.0_linux-x86_64.tar.xz  
        tar xvf zephyr-sdk-0.16.0_linux-x86_64.tar.xz  
        ./zephyr-sdk-0.16.0/setup.sh  
        echo "ZEPHYR_TOOLCHAIN_VARIANT=zephyr" >> $GITHUB_ENV  
        echo "ZEPHYR_SDK_INSTALL_DIR=$PWD/zephyr-sdk-0.16.0" >> $GITHUB_ENV  
          
    - name: Build Left  
      run: |  
        west build -s zmk/app -d build/left -b bmp_boost -S studio-rpc-usb-uart -- \  
          -DZMK_CONFIG=config -DSHIELD=torabo_tsuki_lp_left \  
          -DZMK_EXTRA_MODULES=${{ github.workspace }}  
            
    - name: Build Right    
      run: |  
        west build -s zmk/app -d build/right -b bmp_boost -S studio-rpc-usb-uart -- \  
          -DZMK_CONFIG=config -DSHIELD=torabo_tsuki_lp_right \  
          -DZMK_EXTRA_MODULES=${{ github.workspace }}  
            
    - name: Archive Left  
      uses: actions/upload-artifact@v4  
      with:  
        name: torabo_tsuki_lp_left  
        path: build/left/zephyr/zmk.uf2  
          
    - name: Archive Right  
      uses: actions/upload-artifact@v4  
      with:  
        name: torabo_tsuki_lp_right    
        path: build/right/zephyr/zmk.uf2
